*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: rgb(0, 0, 0);
}

#hdbg {
    background-color: rgba(0, 0, 0, 0.575);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: -1px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

#hdbg2 {
    padding: 8px;
}

.nav {
    cursor: pointer;
}
.nav:hover {
    color: rgb(184, 119, 245);
    transition: 0.3s;
}

#hdlog {
    border: solid 1px rgb(103, 18, 182);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(228, 199, 255, 0.2), 0 6px 20px 0 rgba(190, 134, 241, 0.19);
    transition: 0.3s;
}

#hdlog:hover {
    background: linear-gradient(90deg, rgb(207, 161, 250) 0%, rgb(150, 90, 228) 50%, rgb(111, 21, 255) 100%);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(111, 21, 255, 0.2), 0 6px 20px 0 rgba(111, 21, 255, 0.19);
    transition: 0.3s;

}

#experience h2{
    color: rgb(228, 227, 227);
}
#mock {
    height: 180px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: 1px;
    z-index: 100;
}

#knowd {
    text-align: right;
    margin-right: 10%;
    margin-top: -80px;
    margin-bottom: 80px;

}

#know {
    background: linear-gradient(90deg, rgb(163, 121, 202) 0%, rgb(150, 90, 228) 50%, rgb(189, 21, 255) 100%);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 161, 250);
    padding: 5px 50px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(184, 119, 245, 0.2), 0 6px 20px 0 rgba(190, 134, 241, 0.19);
    cursor: pointer;
    transition: 0.3s;
}

#know:hover {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
    border: 1px solid rgb(207, 161, 250);
    color: rgb(184, 184, 184);
    transition: 0.3s;
}
#qutt{
    width: 65%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/* social media */
#father-media {
    background-color: #000000;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.social-media {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.social-media:hover {
    filter: brightness(80%);
    transform: scale(1.1) ;
    transition: 0.3s;
}
#soh1 {
    color: rgb(228, 227, 227);
    position: absolute;
    font-size: 30px;
    text-align: center;
    z-index: 1001;
    margin-bottom: 200px;
}

#knowd2{
    position: absolute;
    z-index: 1001;
    margin-bottom: -200px;
    display: flex;
    gap: 40px;
}

/* HTML: <div class="loader"></div> */
#ldwp {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#bc6aff 0 0);
    background: var(--c), var(--c), var(--c);
    animation:
        l15-1 1s infinite,
        l15-2 1s infinite;
}



@keyframes l15-1 {

    0%,
    100% {
        background-size: 20% 100%
    }

    33%,
    66% {
        background-size: 20% 40%
    }
}

@keyframes l15-2 {

    0%,
    33% {
        background-position: 0 0, 50% 100%, 100% 100%
    }

    66%,
    100% {
        background-position: 100% 0, 0 100%, 50% 100%
    }
}